@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
.dashboard-container {
  height: 100%; }
  .dashboard-container .alert i {
    margin-right: 5px; }
  .dashboard-container .dashboard-card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); }
  .dashboard-container .doughnut-chart-container {
    padding-bottom: 30px; }
  .dashboard-container .line-chart-container {
    clear: left; }
  .dashboard-container .info-container {
    padding-bottom: 30px;
    margin-left: 30px; }
